<%
const data = {
  title: "ssssdt sample | Top",
}
%>

<%- include(ejsroot + '_header', { title: data.title }) %>

<h1><%- data.title %></h1>
<p>This page is based on <code>/src/ejs/pages/index.ejs</code></p>
<%- include('./_content') %>
<img src="/assets/images/dummy.png"></img>

<%- include(ejsroot + '_footer') %>
