<!DOCTYPE html>
<html lang="ja">
<%- include('./_head') %>
<body>
  <%- include(contentFile) %>

  <% if (!production && livereload.enable) { %>
  <%- include(ejsroot + '/_livereload', { port: livereload.port }) %>
  <% } %>
</body>
</html>
